name: Deploy Astro Site

permissions:
  contents: write

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 23

      - name: Install dependencies
        run: npm ci

      - name: Build Astro site
        run: npm run build

      - name: Disable Jekyll
        run: mkdir -p dist && echo > dist/.nojekyll

      - name: Deploy to GitHub Pages
        uses: withastro/action@v0
        with:
          deploy_branch: gh-pages