name: Deploy Astro on pages

on:
  push:
    branches:
      - ci
permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout your repository using git
        uses: actions/checkout@v4 
      - name: Install, build, and upload your site output
        uses: withastro/action@v4
#        with:
#          deploy-branch: gh-pages

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
      
      - name: Disable Jekyll
        run: echo > dist/.nojekyll

      #- name: Checkout the source repository
      #  uses: actions/checkout@v4

      #- name: Setup Node.js
      #  uses: actions/setup-node@v4
      #  with:
      #    node-version: 23
      #    cache: npm

      #- name: Install dependencies
      #  run: npm ci
#
 #     - name: Build the Astro site
  #      run: npm run build

   #   - name: Deploy to photography-portfolio repository
   #     uses: JamesIves/github-pages-deploy-action@v4
   #     with:
   #       folder: dist
