name: Deploy Astro on pages

permissions:
  contents: write

on:
  push:
    branches:
      - ci

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout your repository using git
        uses: actions/checkout@v5 
      - name: Install, build, and upload your site output
        uses: withastro/action@v5
        

  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the source repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 23
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build the Astro site
        run: npm run build

      - name: Deploy to photography-portfolio repository
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist
